body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgb(160, 211, 255);
    padding: 50px;
    border-radius: 20px;
    gap: 40px;
}

.card-top {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 40px;
}

.card-bottom {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(201, 230, 255);
    
}

.canvas {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.row {
    display: flex;
    flex: 1 1 0;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.pixel {
    flex: 1 1 0;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.toolbar {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 580px;
    width: 100px;
    background-color: rgb(201, 230, 255);
    padding: 10px;
    margin: 0px;
    border: 0px;
}

.tool-box {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    height: 200px;
    width: 100px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    border: 0px;

}

.color-picker {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    height: 100px;
    width: 100px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.color-swatch {

    display: flex;
    flex-direction: column;
    flex-grow: 0;
    height: 300px;
    width: 100px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.swatch-row {
    display: flex;
    flex: 1 1 0;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.swatch-pixel {
    flex: 1 1 0;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.swatch-pixel:hover {
    filter: brightness(120%);
}

button {
    flex: 1;
    padding: 5px;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(215, 223, 231);
}

.rainbow-button {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    font-weight: 800;
    color: rgb(0, 0, 0);
}

p {
    background-color: rgba(255, 255, 255, 0.38);
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
}

.highlight {
    box-shadow: 2px 2px 8px 8px rgb(255, 241, 168);
}

.cursor-color-picker {
    cursor: url('./images/color-picker.png') 2 32, auto;
}